<% if @all_clients.any? %>
  <h3> Your clients: </h3>
  <ul>
    <% @all_clients.each() do |client| %>
      <li><h4><%= client.name() %><h4></li>
      <form action="/delete_client/<%=client.id()%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn-danger">Delete</button>
      </form>
    <% end %>
  </ul>
<% else %>
  <h4>You currently have no clients</h4>
<% end %>

<form action="/new_client" method="post">
  <label for="client_name">Name of your client: </label>
  <input id="client_name" name="client_name" type="text">
  <button type="submit" class="btn-success">Add new client</button>
</form>

<hr>

<p><a href="/">Return to Main Page</a></p>
