<% if @all_stylists.any? %>
  <h3> Your stylists: </h3>
  <ul>
    <% @all_stylists.each() do |stylist| %>
      <li><h4><a href="/single_stylist/<%= stylist.id() %>"><%= stylist.name() %></a></h4></li>
      <form action="/delete_stylist/<%=stylist.id()%>" method="post">
        <input type="hidden" name="_method" value="delete">
        <button type="submit" class="btn-danger">Delete</button>
      </form>
      <form action="/update_stylist/<%=stylist.id()%>" method="post">
        <input type="hidden" name="_method" value="patch">
        <input id="stylist_new_name" name="stylist_new_name" type="text">
        <button type="submit" class="btn-warning">Update</button>
      </form>
    <% end %>
  </ul>
<% else %>
  <h4>You currently have no stylists</h4>
<% end %>

<form action="/new_stylist" method="post">
  <label for="stylist_name">Name of new stylist: </label>
  <input id="stylist_name" name="stylist_name" type="text">
  <button type="submit" class="btn-success">Add new stylist</button>
</form>

<p><a href="/">Return to Main Page</a></p>
